body {
  color: white;
  background-color: black;
  text-align: center;
  font-family: "Malgun Gothic";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.maincontainer {
  margin-top: 5em;
}

.box {
  margin-bottom: 0.5em;
}

#current_weather {
  display: inline-flex;
  margin-left: 1em;
}
#City {
  font-size: 1.8em;
}
.weather {
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.4%;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
